<?xml version="1.0" encoding="utf-8"?> 
<configuration>
  <system.web>
    <globalization  culture="pt-BR" uiCulture="pt-BR"/>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>
  
  <!-- For SOAP help page navigate to http://[address]:[port]/ServiceBooktore.svc -->
  <!-- For REST help page navigate to http://[address]:[port]/ServiceBookstore.svc/rest/help -->
  <system.serviceModel>
    <services>
      <service name="BloodCrowdService.Service1" behaviorConfiguration="MyServiceTypeBehaviors">
        <endpoint address="soap" binding="basicHttpBinding" contract="BloodCrowdService.IService1" />
        <endpoint address="rest" binding="webHttpBinding" behaviorConfiguration="web" contract="BloodCrowdService.IService1" />
        <endpoint contract="IMetadataExchange" binding="mexHttpBinding" address="mex" />
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="MyServiceTypeBehaviors">
          <serviceDebug includeExceptionDetailInFaults="true" />
          <serviceMetadata httpGetEnabled="true" />
        </behavior>
      </serviceBehaviors>
      <endpointBehaviors>
        <behavior name="web">
          <webHttp automaticFormatSelectionEnabled="true" faultExceptionEnabled="true" helpEnabled="true"/>
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  <system.webServer>
    <security>
      <requestFiltering allowDoubleEscaping="true" />
    </security>
    <modules runAllManagedModulesForAllRequests="true" />
  </system.webServer>
</configuration>



